{% extends "base.html" %}

{% block content %}

<h1>Add Match</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.game.label }}<br>
            {{ form.game(size=48) }}<br>
            {% for error in form.game.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.players.label }}<br>
            {{ form.players(size=128) }}<br>
            {% for error in form.players.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.winner.label }}<br>
            {{ form.winner(size=32) }}<br>
            {% for error in form.winner.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}