{% extends "base.html" %}

{% block app_content %}
<h1>Add Match</h1>
    <table>
        {% set gpath = 'images/'+game.gname+'.jpg' %}
        <tr>
            <td><img src="{{url_for('static', filename=gpath)}}" class="img-responsive" style="max-height: 150px; height: 70%; width:auto;"></td>
            <td>{{game.display_name}}</td>
        </tr>
    </table>
    <p>
        Change Number of Players:
        <select id='playerselect'>
            {% for i in range(game.min_players, game.max_players+1) %}
                {% if i == entries %}
                    <option value="{{url_for('addmatch', game=game.gname, entries=i)}}" selected>{{i}}</option>
                {% else %}
                    <option value="{{url_for('addmatch', game=game.gname, entries=i)}}">{{i}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        {% for entry in form.scores %}
            <tr>
                <td>{{ entry.player.label }}</td>
                <td>{{ entry.player(size=32) }}</td>
                {% for error in entry.player.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <td>{{ entry.plants.label }}</td>
                <td>{{ entry.plants(size=32) }}</td>
                {% for error in entry.plants.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <td>{{ entry.money.label }}</td>
                <td>{{ entry.money(size=32) }}</td>
                {% for error in entry.money.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script>
        $("#playerselect").change(function() {
            window.location.href =  $(this).val();
        });
    </script>
{% endblock %}