<html>
    <head>
        {% if title %}
        <title> {{ title }} - BGL </title>
        {% else %}
        <title>BGL</title>
        {% endif %}
    </head>
    <body>
        <div>
            BGL:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', displayname=current_user.displayname) }}">Profile</a>
            <a href="{{ url_for('matches') }}">Matches</a>
            <a href="{{ url_for('add_match') }}">Record</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>