{% extends "base.html" %}

{% block app_content %}

<h1>Games</h1>
    <table id='gameTable'>
        {% for game in games %}
        {% set gipath = 'images/'+game.gname+'.jpg' %}
        <tr class='click-row' data-url="{{url_for('addmatch', game=game.gname, entries=2)}}">
            <td><img src="{{url_for('static', filename=gipath)}}" class="img-responsive" style="max-height: 150px; height: 70%; width:auto;"></td>
            <td>{{game.display_name}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block custom_scripts %}
<script>
    $(document).ready(function(){
        $("#gameTable").on('click','tr', function (e, row, $element) {
            window.location = $(this).data('url');
        });
    });
</script>
{% endblock %}